/*-- CSS Reset --*/
*{
    padding: 0; 
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    line-height: 1em;
}

body {
    background: #eafaff;
    color: #333333;
    font-family:livory, serif;
    font-weight: 400;
    font-style: normal;
}

section, header, footer {
    width: 80%;
    max-width: 700px;
    margin: auto;

}

section, header {
    margin-bottom: 3rem;
}

p, blockquote {
    padding: .5rem 0;
    line-height: 1.3;
}

h1, h2 {
    color: #3b6e7e;

}

h1 {
    font-size: 4rem;
    margin-top: 6rem;
    padding-bottom: 0;
}

h2 {
    font-size: 1.999rem;
    margin: 3rem 0 1rem 0;
}

blockquote {
    font-style: italic;
    font-size: 1.999rem;
    color: #ad677b;
    hanging-punctuation: first;
    text-indent: -0.7rem;
}

a {
    color:#ad677b;
    text-decoration: none;

}

a:hover {
    color: #ad677b;
    border-bottom: 1px dotted;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    padding: 1.5rem 0;
    background-color: #C99DA9;
}

nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;

}

nav ul li {
    display: inline;
    margin: 20px;
    background: none;
}

nav a { 
    color:#000000;
}

nav a:hover {
    border-bottom: none;
    color:#FDCECA;
    transition: all 0.5s ease-in-out;
}

footer {
    text-align: center;
    font-size: 0.8rem;
    padding-bottom: 4rem;
}